{% extends "blog/base.html" %}

{% block content %}

    <div class="container">
        <h1>Sobre a Pagina</h1>
        <p> Apredendizado sobre Djando e manipulação dos dados dentro da tela, onde os conteudos estão sendo aprendidos nos videos do youtube</p>
        <br>
        <br>
        <br>
        <a href="https://youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&si=CM0zas3kZVLRh7Yk">
            <h4>https://youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&si=CM0zas3kZVLRh7Yk</h4>
        </a>
        <a href="https://www.youtube.com/live/c0x_AaPjNCY?si=zFmm318lPWe6Mctk<">
            <h4>https://www.youtube.com/live/c0x_AaPjNCY?si=zFmm318lPWe6Mctk</h4>
        </a>
        <a href="https://youtu.be/s7aINQPGNDM?si=XPcy-ZqNWs0o5Cil">
            <h4>https://youtu.be/s7aINQPGNDM?si=XPcy-ZqNWs0o5Cil</h4>
        </a>
        <a href="https://youtu.be/fHpiwPcTcYw?si=xHWe-tzUaehI6p4h">
            <h4>https://youtu.be/fHpiwPcTcYw?si=xHWe-tzUaehI6p4h</h4>
        </a>
        <a href="https://youtu.be/i5JykvxUk_A?si=iCHTNB71AojqNLQS">
            <h4>https://youtu.be/i5JykvxUk_A?si=iCHTNB71AojqNLQS</h4>
        </a>
        <a href="https://youtu.be/JIFqqdRxmVo?si=CyAvsYpZ8VzLAMu1">
            <h4>https://youtu.be/JIFqqdRxmVo?si=CyAvsYpZ8VzLAMu1</h4>
        </a>
        <a href="https://youtu.be/tujhGdn1EMI?si=VWmWfpxKgJ3rfuQB">
            <h4>https://youtu.be/tujhGdn1EMI?si=VWmWfpxKgJ3rfuQB</h4>
        </a>
        <a href="https://youtu.be/c708Nf0cHrs?si=lOCn05mWkl7bO6j6">
            <h4>https://youtu.be/c708Nf0cHrs?si=lOCn05mWkl7bO6j6</h4>
        </a>
        <a href="https://youtube.com/playlist?list=PLsTx8TSx2fHY01FnuxBdwiBiOdZdPGik7&si=jkfJqIZs1VWYatvA">
            <h4>https://youtube.com/playlist?list=PLsTx8TSx2fHY01FnuxBdwiBiOdZdPGik7&si=jkfJqIZs1VWYatvA</h4>
        </a>
        <a href="https://youtu.be/pvh_UPHuz9U?si=DXYBej9uNbhTMp5c">
            <h4>https://youtu.be/pvh_UPHuz9U?si=DXYBej9uNbhTMp5c</h4>
        </a>
        <br>
        <br>
        <br>
        <h2>Conteudo passado pelos integrantes do academy para projeto dentro do academy onde vai ser formado uma plataforma de curso para o aprendizado dos integrantes do acedemy</h2>
    </div>

{% endblock content%}

